<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='Project.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='Project.js') }}"
    ></script>

    <title>상품페이지</title>
  </head>
  <body>
    <div class="top">
      <img
        class="top-image"
        src="https://cdn.pixabay.com/photo/2020/03/03/12/03/new-york-4898536_960_720.jpg"
      />
    </div>
    <div class="main">
      <div class="top-text">
        <h1 class="name">
          뉴욕 자유여행권
        </h1>
        <h3 class="price">가격 : 3,000,000 / 개</h3>
      </div>
      <div class="md-text">
        <span
          >해당 상품은 뉴욕여행권 상품으로, 뉴욕
          <span class="notice">입국 14일 전에는 환불이 불가합니다. </span>또한
          자유 여행권으로 여행사는 여행자의 일정에 전혀 관여 하지 않으며,
          <span class="notice">
            여행 중 발생한 문제에 대한 어떠한 책임도 지지 않습니다.
          </span>
        </span>
      </div>
      <div class="bottom">
        <h1 class="bottom-text"></h1>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >주문자 이름</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            id="name-box"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >수량</label
            >
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>수량을 선택하세요.</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >주소</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            id="address-box"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"
              >전화번호</span
            >
          </div>
          <input
            type="text"
            class="form-control"
            id="phone-number"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
          />
        </div>
      </div>
    </div>
    <div class="center-block">
      <button onclick="btn()" type="button" class="btn btn-primary">
        주문하기
      </button>
    </div>
    <div class="table">
      <table id="info-table">
        <colgroup>
          <col width="150" />
          <col width="150" />
          <col width="150" />
          <col width="150" />
        </colgroup>

        <th>이름</th>
        <th>수량</th>
        <th>주소</th>
        <th>전화번호</th>

        <table id="info">
          <colgroup>
            <col width="150" />
            <col width="150" />
            <col width="150" />
            <col width="150" />
          </colgroup>
        </table>
      </table>
    </div>
  </body>
</html>
